$dm-purple: #7346F3;
$dm-green: #00FF00;
$dm-red: #CF2323;


body{
    background: #ffbad8; /* Old browsers */
    background: -webkit-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
    background: -moz-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
    background: -o-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
    background: linear-gradient(to top right, #ffbad8 0%, #bdbfff 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbad8', endColorstr='#bdbfff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      &#padding{
        padding:5% 0;
      }
    
    #app{
      background: #fff;
      box-shadow: 0px 5px 40px 1px #aaa;
      border-radius: 5px;
        .avatar{
            img{
              max-width:100px;
            }
        }
        ul {
            margin: 0;
            padding: 0;
          }
          li * {
            float: left;
          }
          li, h3 {
            clear:both;
            list-style:none;
          }
          input, button {
            outline: none;
          }
          button {
            background: #fff;
            color: #a1a1a1;
            font-size: 15px;
            margin: 0 10px;
            font-family: Lato, sans-serif;
            cursor: pointer;
            border-radius:5px;
            border:none;
            padding:14px 28px;
            transition: ease 0.5s;
            &:hover{
                color:#fff;
                transition: ease 0.5s;
            }
          }
          /* Heading */
          h3,
          label[for='new-task'] {
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            padding: 30px 0 10px;
            margin: 0;
            text-transform: uppercase;
          }
          input[type="text"] {
            margin: 0;
            font-size: 18px;
            line-height: 18px;
            padding: 10px;
            background: #fff;
            border-radius: 6px;
            font-family: Lato, sans-serif;
            color: #888;
          }
          input[type="text"]:focus {
            color: #333;
          }
          
          /* New Task */
          label[for='new-task'] {
            display: block;
            margin: 0 0 20px;
          }
          input#new-task {
            float: left;
          }
          p > button:hover {
            color: #0FC57C;
          }
          
          /* Task list */
          li {
            overflow: hidden;
            padding: 20px 0;
            & > input[type="checkbox"] {
                margin: 0 10px;
                position: relative;
                top: 15px;
              }
            & > label {
                font-size: 18px;
                line-height: 40px;
                padding: 0 0 0 11px;
                color:#fff;
              }
            & > input[type="text"] {
              }
            & > .delete{
                background-color:-red;
                padding:22px;
                margin:0 5px;
                &:before, &:after{
                    background-color:#fff;
                }
                &:hover {
                    background-color:-green;
                }
              }
            
          }

          /* Completed */
          #completed-tasks label {
            text-decoration: line-through;
            color: -green;
          }
          
          /* Edit Task */
          ul{
              li{
                input[type=text]{
                    display: none;
                }
                &.editMode{
                    input[type=text] {
                        display:block;
                    }
                    label{
                        display:none;
                    }
                }
              }
          }
    }
}