$dm-purple: #7346F3;
$dm-green: #00FF00;
$dm-red: #CF2323;
.aligner {
    display: flex;
    align-items: center;
}
.background_cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


body{
    background: #ffbad8; /* Old browsers */
    background: -webkit-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
    background: -moz-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
    background: -o-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
    background: linear-gradient(to top right, #ffbad8 0%, #bdbfff 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbad8', endColorstr='#bdbfff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      &#padding{
        padding:5% 0;
      }
    
    #app{
      background: #fff;
      box-shadow: 0px 5px 40px 1px #aaa;
      border-radius: 5px;
      .column{
        &.border-right{
          border-right:1px solid #eee;
        }
      }
      #sidebar{
        padding:15px 10px 15px 20px;
          .avatar{
              img, h3{
                display:inline-block;
              }
              img{
                max-width:50px;
              }
              h3{
                margin:0 15px;
              }
          }
          .list-items{
            margin-top:30px;
            ul{
              width:100%;
              li{
                width:100%;
                font-size:16px;
                padding:5px 10px;
                &.active{
                  background:#F3F6FF;
                  border-radius:5px;
                }
                &:before{
                  content:'\f274';
                  font-family:'FontAwesome';
                  font-size:22px;
                  margin-right:10px;
                  color:#ED8A8F;
                }
              }
            }
          }
        }
        #header-image{
          padding-right:12px;
          position: relative;
          .background_cover{
            height:200px;
            border-radius:0 5px 0 0;
          }
          .info{
            position: absolute;
            color:#fff;
            z-index:10;
            bottom:15px;
            left:15px;
            h2{
              font-size:30px;
            }
            p{
              font-size:20px;
              opacity:0.75;
            }
          }
        }
        #task-list{
          padding:0px 50px;
          margin-right:12px;
          #add-tasks-wrap, #incomplete-tasks-wrap, #completed-tasks-wrap{
            margin:25px 0;
            padding-bottom:25px;
            border-bottom:1px solid #eee;
            li{
              input{
                border:1px solid #aeaeae;
                &[type=checkbox]{
                  display:none;
                }
              }
              label{
                font-size:20px;
                &:before{
                  content: "\f10c";
                  font-size: 16px;
                  color: #ccc;
                  font-family: 'FontAwesome';
                  display: inline-block;
                  margin-right: 10px;
                }
              }
              button{
                &.edit{
                  background:#e58d3f;
                  opacity:0.75;
                  color:#fff;
                  &:hover{
                    opacity:1;
                  }
                }
                &.delete{
                  background:#e53f3f;
                  opacity:0.75;
                  color:#fff;
                  &:hover{
                    opacity:1;
                  }
                }
              }
            }
          }
          #add-tasks-wrap{
            input{  
              width:70%;
            }
            button{
              background:#34da67;
              opacity:0.75;
              color:#fff;
              &:hover{
                opacity:1;
              }         
            }
          }
          #incomplete-tasks-wrap{
            input[type=text], label{
              width:70%;
            }
          }
          #completed-tasks-wrap{
            border-bottom:0px;
            label{
              margin-right:10px;
            }
          }
        }
        ul {
            margin: 0;
            padding: 0;
          }
          li * {
            float: left;
          }
          li, h3 {
            list-style:none;
          }
          input, button {
            outline: none;
          }
          button {
            background: #fff;
            color: #a1a1a1;
            font-size: 15px;
            margin: 0 10px;
            font-family: Lato, sans-serif;
            cursor: pointer;
            border-radius:5px;
            border:none;
            padding:14px 28px;
            transition: ease 0.5s;
            &:hover{
                color:#fff;
                transition: ease 0.5s;
            }
          }
          /* Heading */
          h3,
          label[for='new-task'] {
            color: #34373d;
            font-weight: 400;
            font-size: 16px;
            margin: 0;
          }
          input[type="text"] {
            margin: 0;
            font-size: 18px;
            line-height: 18px;
            padding: 10px;
            background: #fff;
            border-radius: 6px;
            font-family: Lato, sans-serif;
            color: #888;
          }
          input[type="text"]:focus {
            color: #333;
          }
          
          /* New Task */
          label[for='new-task'] {
            display: block;
            margin: 0 0 20px;
          }
          input#new-task {
            float: left;
          }
          p > button:hover {
            color: #0FC57C;
          }
          
          /* Task list */
          li {
            overflow: hidden;
            padding: 20px 0;
            & > input[type="checkbox"] {
                margin: 0 10px;
                position: relative;
                top: 15px;
              }
            & > label {
                font-size: 18px;
                line-height: 40px;
                padding: 0 0 0 11px;
                color:#34373d;
              }
            & > input[type="text"] {
              }
            & > .delete{
                background-color:-red;
                padding:22px;
                margin:0 5px;
                &:before, &:after{
                    background-color:#fff;
                }
              }
            
          }

          /* Completed */
          #completed-tasks label {
            text-decoration: line-through;
            color: -green;
          }
          
          /* Edit Task */
          ul{
              li{
                input[type=text]{
                    display: none;
                }
                &.editMode{
                    input[type=text] {
                        display:block;
                    }
                    label{
                        display:none;
                    }
                }
              }
          }
    }
}