$dm-purple: #5031a9;
$dm-green: #00FF00;
$dm-red: #CF2323;


body{
    background:$dm-purple;
    height:100vh;
    header{
        padding:15px 0;
        .logo{
            max-width:175px;
        }
    }
    #intro{
        .title{
            color:#fff;
            text-align:center;
        }
    }
    #list{
        ul {
            margin: 0;
            padding: 0;
          }
          li * {
            float: left;
          }
          li, h3 {
            clear:both;
            list-style:none;
          }
          input, button {
            outline: none;
          }
          button {
            background: #fff;
            color: #a1a1a1;
            font-size: 15px;
            margin: 0 10px;
            font-family: Lato, sans-serif;
            cursor: pointer;
            border-radius:5px;
            border:none;
            padding:14px 28px;
            transition: ease 0.5s;
            &:hover{
                color:#fff;
                transition: ease 0.5s;
            }
          }
          /* Heading */
          h3,
          label[for='new-task'] {
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            padding: 30px 0 10px;
            margin: 0;
            text-transform: uppercase;
          }
          input[type="text"] {
            margin: 0;
            font-size: 18px;
            line-height: 18px;
            padding: 10px;
            background: #fff;
            border-radius: 6px;
            font-family: Lato, sans-serif;
            color: #888;
          }
          input[type="text"]:focus {
            color: #333;
          }
          
          /* New Task */
          label[for='new-task'] {
            display: block;
            margin: 0 0 20px;
          }
          input#new-task {
            float: left;
          }
          p > button:hover {
            color: #0FC57C;
          }
          
          /* Task list */
          li {
            overflow: hidden;
            padding: 20px 0;
            & > input[type="checkbox"] {
                margin: 0 10px;
                position: relative;
                top: 15px;
              }
            & > label {
                font-size: 18px;
                line-height: 40px;
                padding: 0 0 0 11px;
                color:#fff;
              }
            & > input[type="text"] {
              }
            & > .delete{
                background-color:$dm-red;
                padding:22px;
                margin:0 5px;
                &:before, &:after{
                    background-color:#fff;
                }
                &:hover {
                    background-color:$dm-green;
                }
              }
            
          }

          /* Completed */
          #completed-tasks label {
            text-decoration: line-through;
            color: $dm-green;
          }
          
          /* Edit Task */
          ul{
              li{
                input[type=text]{
                    display: none;
                }
                &.editMode{
                    input[type=text] {
                        display:block;
                    }
                    label{
                        display:none;
                    }
                }
              }
          }
    }
}