body {
  background: #ffbad8;
  /* Old browsers */
  background: -webkit-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
  background: -moz-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
  background: -o-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
  background: linear-gradient(to top right, #ffbad8 0%, #bdbfff 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbad8', endColorstr='#bdbfff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  body#padding {
    padding: 5% 0; }
  body #app {
    background: #fff;
    box-shadow: 0px 5px 40px 1px #aaa;
    border-radius: 5px;
    /* Heading */
    /* New Task */
    /* Task list */
    /* Completed */
    /* Edit Task */ }
    body #app .avatar img {
      max-width: 100px; }
    body #app ul {
      margin: 0;
      padding: 0; }
    body #app li * {
      float: left; }
    body #app li, body #app h3 {
      clear: both;
      list-style: none; }
    body #app input, body #app button {
      outline: none; }
    body #app button {
      background: #fff;
      color: #a1a1a1;
      font-size: 15px;
      margin: 0 10px;
      font-family: Lato, sans-serif;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      padding: 14px 28px;
      transition: ease 0.5s; }
      body #app button:hover {
        color: #fff;
        transition: ease 0.5s; }
    body #app h3,
    body #app label[for='new-task'] {
      color: #fff;
      font-weight: 700;
      font-size: 15px;
      padding: 30px 0 10px;
      margin: 0;
      text-transform: uppercase; }
    body #app input[type="text"] {
      margin: 0;
      font-size: 18px;
      line-height: 18px;
      padding: 10px;
      background: #fff;
      border-radius: 6px;
      font-family: Lato, sans-serif;
      color: #888; }
    body #app input[type="text"]:focus {
      color: #333; }
    body #app label[for='new-task'] {
      display: block;
      margin: 0 0 20px; }
    body #app input#new-task {
      float: left; }
    body #app p > button:hover {
      color: #0FC57C; }
    body #app li {
      overflow: hidden;
      padding: 20px 0; }
      body #app li > input[type="checkbox"] {
        margin: 0 10px;
        position: relative;
        top: 15px; }
      body #app li > label {
        font-size: 18px;
        line-height: 40px;
        padding: 0 0 0 11px;
        color: #fff; }
      body #app li > .delete {
        background-color: -red;
        padding: 22px;
        margin: 0 5px; }
        body #app li > .delete:before, body #app li > .delete:after {
          background-color: #fff; }
        body #app li > .delete:hover {
          background-color: -green; }
    body #app #completed-tasks label {
      text-decoration: line-through;
      color: -green; }
    body #app ul li input[type=text] {
      display: none; }
    body #app ul li.editMode input[type=text] {
      display: block; }
    body #app ul li.editMode label {
      display: none; }
