.aligner {
  display: flex;
  align-items: center; }

.background_cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

body {
  background: #ffbad8;
  /* Old browsers */
  background: -webkit-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
  background: -moz-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
  background: -o-linear-gradient(bottom left, #ffbad8 0%, #bdbfff 100%);
  background: linear-gradient(to top right, #ffbad8 0%, #bdbfff 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbad8', endColorstr='#bdbfff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  body#padding {
    padding: 5% 0; }
  body #app {
    background: #fff;
    box-shadow: 0px 5px 40px 1px #aaa;
    border-radius: 5px;
    /* Heading */
    /* New Task */
    /* Task list */
    /* Completed */
    /* Edit Task */ }
    body #app .column.border-right {
      border-right: 1px solid #eee; }
    body #app #sidebar {
      padding: 15px 10px 15px 20px; }
      body #app #sidebar .avatar img, body #app #sidebar .avatar h3 {
        display: inline-block; }
      body #app #sidebar .avatar img {
        max-width: 50px; }
      body #app #sidebar .avatar h3 {
        margin: 0 15px; }
      body #app #sidebar .list-items {
        margin-top: 30px; }
        body #app #sidebar .list-items ul {
          width: 100%; }
          body #app #sidebar .list-items ul li {
            width: 100%;
            font-size: 16px;
            padding: 5px 10px; }
            body #app #sidebar .list-items ul li.active {
              background: #F3F6FF;
              border-radius: 5px; }
            body #app #sidebar .list-items ul li:before {
              content: '\f274';
              font-family: 'FontAwesome';
              font-size: 22px;
              margin-right: 10px;
              color: #ED8A8F; }
    body #app #header-image {
      padding-right: 12px;
      position: relative; }
      body #app #header-image .background_cover {
        height: 200px;
        border-radius: 0 5px 0 0; }
      body #app #header-image .info {
        position: absolute;
        color: #fff;
        z-index: 10;
        bottom: 15px;
        left: 15px; }
        body #app #header-image .info h2 {
          font-size: 30px; }
        body #app #header-image .info p {
          font-size: 20px;
          opacity: 0.75; }
    body #app #task-list {
      padding: 0px 50px;
      margin-right: 12px; }
      body #app #task-list #add-tasks-wrap, body #app #task-list #incomplete-tasks-wrap, body #app #task-list #completed-tasks-wrap {
        margin: 25px 0;
        padding-bottom: 25px;
        border-bottom: 1px solid #eee; }
        body #app #task-list #add-tasks-wrap li input, body #app #task-list #incomplete-tasks-wrap li input, body #app #task-list #completed-tasks-wrap li input {
          border: 1px solid #aeaeae; }
          body #app #task-list #add-tasks-wrap li input[type=checkbox], body #app #task-list #incomplete-tasks-wrap li input[type=checkbox], body #app #task-list #completed-tasks-wrap li input[type=checkbox] {
            display: none; }
        body #app #task-list #add-tasks-wrap li label, body #app #task-list #incomplete-tasks-wrap li label, body #app #task-list #completed-tasks-wrap li label {
          font-size: 20px; }
          body #app #task-list #add-tasks-wrap li label:before, body #app #task-list #incomplete-tasks-wrap li label:before, body #app #task-list #completed-tasks-wrap li label:before {
            content: "\f10c";
            font-size: 16px;
            color: #ccc;
            font-family: 'FontAwesome';
            display: inline-block;
            margin-right: 10px; }
        body #app #task-list #add-tasks-wrap li button.edit, body #app #task-list #incomplete-tasks-wrap li button.edit, body #app #task-list #completed-tasks-wrap li button.edit {
          background: #e58d3f;
          opacity: 0.75;
          color: #fff; }
          body #app #task-list #add-tasks-wrap li button.edit:hover, body #app #task-list #incomplete-tasks-wrap li button.edit:hover, body #app #task-list #completed-tasks-wrap li button.edit:hover {
            opacity: 1; }
        body #app #task-list #add-tasks-wrap li button.delete, body #app #task-list #incomplete-tasks-wrap li button.delete, body #app #task-list #completed-tasks-wrap li button.delete {
          background: #e53f3f;
          opacity: 0.75;
          color: #fff; }
          body #app #task-list #add-tasks-wrap li button.delete:hover, body #app #task-list #incomplete-tasks-wrap li button.delete:hover, body #app #task-list #completed-tasks-wrap li button.delete:hover {
            opacity: 1; }
      body #app #task-list #add-tasks-wrap input {
        width: 70%; }
      body #app #task-list #add-tasks-wrap button {
        background: #34da67;
        opacity: 0.75;
        color: #fff; }
        body #app #task-list #add-tasks-wrap button:hover {
          opacity: 1; }
      body #app #task-list #incomplete-tasks-wrap input[type=text], body #app #task-list #incomplete-tasks-wrap label {
        width: 70%; }
      body #app #task-list #completed-tasks-wrap {
        border-bottom: 0px; }
        body #app #task-list #completed-tasks-wrap label {
          margin-right: 10px; }
    body #app ul {
      margin: 0;
      padding: 0; }
    body #app li * {
      float: left; }
    body #app li, body #app h3 {
      list-style: none; }
    body #app input, body #app button {
      outline: none; }
    body #app button {
      background: #fff;
      color: #a1a1a1;
      font-size: 15px;
      margin: 0 10px;
      font-family: Lato, sans-serif;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      padding: 14px 28px;
      transition: ease 0.5s; }
      body #app button:hover {
        color: #fff;
        transition: ease 0.5s; }
    body #app h3,
    body #app label[for='new-task'] {
      color: #34373d;
      font-weight: 400;
      font-size: 16px;
      margin: 0; }
    body #app input[type="text"] {
      margin: 0;
      font-size: 18px;
      line-height: 18px;
      padding: 10px;
      background: #fff;
      border-radius: 6px;
      font-family: Lato, sans-serif;
      color: #888; }
    body #app input[type="text"]:focus {
      color: #333; }
    body #app label[for='new-task'] {
      display: block;
      margin: 0 0 20px; }
    body #app input#new-task {
      float: left; }
    body #app p > button:hover {
      color: #0FC57C; }
    body #app li {
      overflow: hidden;
      padding: 20px 0; }
      body #app li > input[type="checkbox"] {
        margin: 0 10px;
        position: relative;
        top: 15px; }
      body #app li > label {
        font-size: 18px;
        line-height: 40px;
        padding: 0 0 0 11px;
        color: #34373d; }
      body #app li > .delete {
        background-color: -red;
        padding: 22px;
        margin: 0 5px; }
        body #app li > .delete:before, body #app li > .delete:after {
          background-color: #fff; }
    body #app #completed-tasks label {
      text-decoration: line-through;
      color: -green; }
    body #app ul li input[type=text] {
      display: none; }
    body #app ul li.editMode input[type=text] {
      display: block; }
    body #app ul li.editMode label {
      display: none; }
